<style>

.csharp{
    background-color:#272822;
    color: #bababa;
    padding-left:10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
 
.keyword{
    color: #66d9ef;
}
.number{
    color: #ae81ff;
}
.HTML{
    color: #e6db74;
}
.comment{
    color: #ae81ff;
}

</style>
<div>
      
            @Model.Html_color
</div>